.actor-name {
    font-size: 15px;
    font-weight: 800;
}

.actor-role {
    font-weight: lighter;
    font-size: smaller;
}

.trying {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}